:root {
  --darkcolor: purple;
  --fontcolor: gold;
}
.main-view {
  justify-content: center;
  justify-items: center;
  align-items: center;
}
.header1 {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  align-items: center;
}
.header2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.nav-button {
  background-color: var(--darkcolor);
  border: 2px solid inherit;
  font-size: larger;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-button:hover {
  border: 2px solid var(--fontcolor);
  color: var(--fontcolor);
}
.form {
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
  column-gap: 15px;
  row-gap: 15px;
  margin: 15px;
}
.form-input {
  border: 2px solid var(--darkcolor);
  border-radius: 10px;
  padding: 5px;
  text-align: center;
  display: inline-block;
  margin: 5px;
  width: 400px;
}